<div style="
display: flex;
justify-content: center;
align-items: center;
/* margin-bottom: 213px; */
/* padding: 20px; */
margin-top: 23%;
flex-direction: column;">
    <!-- <mat-form-field appearance="outline"> -->
        <!-- <mat-label>Operator Dashboard</mat-label> -->
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <!-- <mat-hint>Hint</mat-hint> -->
    <!-- </mat-form-field> -->
    <button mat-button color="primary" style="border: 1px solid;" (click)="goToOperatorDashboard()">Go To Operator Dashboard</button>

    <button mat-button color="primary" style="border: 1px solid; margin-top: 100px;" (click)="goToRouteCreator()">Go To Route Creator</button>


</div>